body {
    padding: 0;
    margin: 0;
}

/*Div maior*/
#container {
    background-color: rgb(144, 138, 138);
    width: 100%;
    height: 100vh;
}

#container .meu_menu .contents {
    display: flex;
    display: block;
}


/*Div Cabeçalho - Logo*/
#header {
    background-color: rgb(86, 165, 11);
    width: 100%;
    height: 4rem;
}


/*Div navegação*/
#main_nav {
    background-color: rgb(6, 61, 133);
    width: 100%;
    height: 2.5rem;
}

/*Div menu*/
#meu_menu {
    background-color: rgb(122, 28, 28);
    width: 100%;
    height: 10rem;
}

/*Div conteúdo*/
#contents {
    background-color: rgb(40, 203, 239);
    width: 100%;
    height: 25rem;
}

/*Div rodapé*/
#footer {
    background-color: rgb(60, 11, 56);
    width: 100%;
    height: 2rem;
}